doctype html
html
  head
    title Cards
    if useExternalStyles
      link(rel="stylesheet", href="/build/app.css")

  body
    #boobs.green
      h1 have you seen my elephant

    script(src=scriptRoot + "/vendors~app.js")
    script(src=scriptRoot + "/app.js")